/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 2rem;
    background-color: #222;
    color: #fff;
  }
  
  /* Section com o formulário */
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  /* Radio buttons */
  input[type="radio"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
  }
  
  input[type="radio"]:checked {
    background-color: #000000; /* Azul claro */
  }

  #mensagemErro {
    text-align: center;
    color: red;
    background-color: #ffdddd;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
  }

  #botao_res {
    font-family: 'Consolas', 'Courier New', Courier, monospace; 
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
  }
  /* Estilo do botão */
.futuristic-button {
  margin: 10px;
  background-color: hsl(0, 0%, 6%); /* Fundo preto puro */
  color: #00ffdd; /* Texto verde neon estilo Matrix */
  font-family: 'Consolas', 'Courier New', Courier, monospace; /* Fonte monoespaçada */
  font-size: 18px;
  border: 2px solid #00ffdd; /* Borda verde neon */
  padding: 12px 24px;
  cursor: pointer;
  text-transform: uppercase; /* Texto em caixa alta */
  letter-spacing: 1.5px; /* Espaçamento entre letras */
  transition: all 0.4s ease; /* Transições suaves */
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00ffdd, 0px 0px 20px #00ffdd; /* Brilho neon ao redor */
}
   
  .botao_resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .texto_resultado {
    font-size: 18px; /* Ajuste o valor para o tamanho desejado */
}
  
  /* Labels com espaçamento */
  label {
    display: block;
    margin-bottom: 1rem;
  }

/* Adiciona um espaço entre os elementos do formulário */
form label {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  margin-bottom: 10px; /* Espaço entre as opções */
  line-height: 5; /* Ajuste o valor para aumentar ou diminuir o espaçamento */
  
}



.item-opcao {
  margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

.item-resultado h2 {
  text-align: center;
  
}
.texto_resultado{
  text-align: center;
  margin: 0 20px;
}